{% load static %}


<link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
<script src="{% static 'myapp/js/script.js' %}"></script>

{% block content %}
    <h1>My First Heading</h1>
    <p>My first paragraph.</p>
```

```python

{% extends 'base.html' %}

{% block content %}
    <h1>My First Heading</h1>
    <p>My first paragraph.</p>
{% endblock %}
```

```python
{% extends 'base.html' %}

{% block content %}
    <h1>My First Heading</h1>
    <p>My first paragraph.</p>
{% endblock %}
```

```python
{% extends 'base.html' %}

{% block content %}
    <h1>My First Heading</h1>
    <p>My first paragraph.</p>
{% endblock %}
```

```python
{% extends 'base.html' %}

{% block content %}
    <h1>My First Heading</h1>
    <p>My first paragraph.</p>
{% endblock %}
```

```python
{% extends 'base.html' %}

{% block content %}
    <h1>My First Heading</h1>
    <p>My first paragraph.</p>
{% endblock %}
```

```python
{% extends 'base.html' %}

{% block content %}
    <h1>My First Heading</h1>
    <p>My first paragraph.</p>
{% endblock %}
```

```python
{% extends 'base.html' %}

{% block content %}
    <h1>My First Heading</h1>
    <p>My first paragraph.</p>


{% endblock %}
```


